*.meta
*.cs
*.md
*.png
*.json
*.asmdef
*.editorconfig
*.xml
*.pdb
*.mdb
*.dll
*.txt
*.yml
*.uss
*.npmignore
*.asset
*.dwlt
*.prefs
*.graph
*.info
*.bin
*.db
*.stamp
*.unitypackage
*.psd
*.shader
*.cginc
*.log
BlockCollapser/Library/
BlockCollapser/.vs/BlockCollapser/v15/Server/sqlite3/storage.ide-shm
BlockCollapser/.vs/BlockCollapser/v15/Server/sqlite3/db.lock
BlockCollapser/.vs/BlockCollapser/v15/Server/sqlite3/storage.ide
BlockCollapser/.vs/BlockCollapser/v15/Server/sqlite3/storage.ide-wal
